.hero{
    position: relative;
    min-height: 210vh;
}

.banner-img{
    width: 100%;
    mask-image: linear-gradient(to right, transparent, black 75%);
    -weblit-mask-image: linear-gradient(to right, transparent, black 75%);
}

.hero-caption{
    position: absolute;
    width: 100%;
    padding-left: 6%;
    bottom: 0;
    z-index: 0;
}

.caption-img{
    width: 70%;
    max-width: 420px;
    margin-bottom: 30px;
}

.hero-caption p{
    max-width: 700px;
    font-size: 17px;
    margin-bottom: 20px;
}

.hero-btns{
    display: flex;
    gap: 20px;
    margin-bottom: 50px;
}

.hero-btns .btn img{
    width: 25px;
}

.hero-btns .btn{
    border: 0;
    outline: 0;
    padding: 8px 20px;
    display: inline-flex;
    align-items: center;
    gap: 30px;
    color: white;
    font-size: 15px;
    font-weight: 600;
    background:#be0505;
    border-radius: 4px;
    cursor: pointer;
}

.hero-btns .btn.dark-btn{
    color:#fff;
    background: #333333
}

.hero-btns .btn:hover{
    background: #be0505;
    transform: scale(1.1);
}

.hero-btns .btn.dark-btn:hover{
    background: #131313;
    transform: scale(1.1);
}

